<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Inicio</a>  </li>
        <li><a href="/autorizo/login">Login</a></li>
        <li><a href="/autorizo/logout">Logout</a></li>
    </ul>
    <main>
        <a href="/autorizo/google">ingresar con google</a>
    </main>
    
</body>
</html>