<!-- css incluido -->
<%- include('partials/header') -%> 
<ul class="recipes">
    <li>
        <img src="/vite.png">
        <h4>agua cafe</h4>
    </li>
    <li>
        <img src="/vite.png">
        <h4>agua cafe</h4>
    </li>
    <li>
        <img src="/vite.png">
        <h4>agua cafe</h4>
    </li>
    <li>
        <img src="/vite.png">
        <h4>agua cafe</h4>
    </li>
</ul>
<%- include('partials/footer') -%>