<%- include('partials/header') -%>

<header>
    <div class="smoothie">
        <img src="/vite.png">
    </div>
    <div class="headings">
        <h2>mercado</h2>
    </div>
</header>

<%- include('partials/footer') -%>