<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ramon</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>

<body>
    <nav className="">
        <h1><a href="/">Casa de cafe</a>  </h1>
        <h4><a href="/cafes-lista">Cafes</a></h4>
        <h4><a href="/login">Login</a></h4>
        <h4><a href="/register">Register</a></h4>
    </nav>

    