@tailwind base;
@tailwind components;
@tailwind utilities;



/* font-family: 'Lobster', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: 'Lobster';
    src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
    
  }

  @font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
    
  }
/*   .bg-svg{
    background-image: url(assets/wave.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    
    
  } */

.headings{
    font-family: 'Lobster';
    font-weight: 400;
    letter-spacing: 0.1em;
}
*{
    font-family: 'Roboto';
    font-weight: 400;
    color: whitesmoke;
}

h2.headings{
  color: black;
}
